<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Improved Clicks Per Minute Game with High Scores</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    <div class="game-container">
        <h1>Reto de los Clicks en 10 segundos</h1>
        <p>¡Haz click lo más rápido que puedas!</p>
        <div id="timer">10</div>
        <button class="disable-dbl-tap-zoom" id="clickButton" disabled>Click me!</button>
        <div id="score">Clicks: 0</div>
        <div id="finalScore"></div>
        <input type="text" id="nameInput" placeholder="Enter your name" style="display: none;">
        <button id="startButton">Empezar</button>
        
        <div id="highScores">
            <h2>Puntuaciones Máximas</h2>
            <table>
                <thead>
                    <tr>
                        <th>Posición</th>
                        <th>Nombre</th>
                        <th>Puntuación</th>
                    </tr>
                </thead>
                <tbody id="highScoresBody">
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>